extends layout 

block content 
    h1 #{title}: #{category.name}

    p Description: #{category.description}

    hr
    p 
        a(href=category.url+'/delete') Delete Category
    p 
        a(href=category.url+'/update') Update Category

    if category_items.length 

        h1 Items in this category:
        ul 
            for item in category_items 
                li 
                    a(href=item.url) #{item.name}